<ul>
	<li><a href="/<%- stage_path %>">Home</a></li>
	<li><a href="/<%- stage_path %>about">About</a></li>
	<li><a href="/<%- stage_path %>contact">Contact</a></li>
	<li><a href="/<%- stage_path %>not-found">Not found</a></li>
</ul>